.btn_login,
.btn_logout,
.btn_mypage {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

.icon_login,
.icon_logout,
.icon_mypage {
  width: 100%;
  height: 100%;
  color: var(--main-color);
  cursor: pointer;
}

.loginHeader {
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
