.Result {
  width: 360px;
  margin-top: 50px;
  background-color: #fff;
}

.Result_artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.Result_artistImg {
  width: 300px;
  max-height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.Result_noImg {
  width: 300px;
  height: 300px;
  background-color: var(--gray-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Result_artistName {
  width: 300px;
  margin-top: 10px;
  text-align: center;
  font-size: var(--font-size-m);
}

.Result_noResult {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
